<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CodeEditor (Playground).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NR Models.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>NR Status.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NRQL ViewerExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NRQL WidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3F01FD242CBDFADF00D9E068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F28B29C2CBB3CBD00CCB8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F28B3642CBB996200CCB8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F28B36D2CBB996200CCB8DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5714722C9EA7BC00685FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F5714832C9EA7BD00685FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F57148D2C9EA7BD00685FEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FFDAEBC2CBCE7B200B26893</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
